---
title: compositions
layout: page
---

<article class="compositions">
  <div class="wrapper">
    <div class="content" id="content">
      {% include random_spacer.html spacer='"<br>"' min=5 max=20 %}

      {% for p in site.compositions %}

      {% include textbox.html fn="messup" wrapper="linktext"
      txt=p.title
      url=p.url
      %}
      {% include random_spacer.html spacer='"<br>"' min=5 max=20 %}
      {% endfor %}

      {% include connect.html offset1=1 offset2=0 %}
    </div>
    
  </div>
</article>
