---
title: "performance work"
layout: page
---

<article class="performance_work">
  <div class="wrapper">
    <div class="content" id="content">
      {% include random_spacer.html spacer='"<br>"' min=5 max=20 %}

      <script type="text/javascript">
	var lastpub = -1;
      </script>

      
      {% for p in site.performance_work %}

      
      <script type="text/javascript">
	lastpub++;
      </script>
      <div class="work">
	<div class="dashes">
	  <span id="dashes_{{ forloop.index0 }}">
	    {%- include random_spacer.html spacer='"&mdash;"' min=1 max=10 -%}
	  </span>
	</div><div class="entry">
	  <a href="{{ p.url | escape }}">{{ p.title }}</a>
	</div>  
      </div>
      {% include random_spacer.html spacer='"<br>"' min=1 max=5 %}

      
      {% endfor %}

      {% include connect.html id1='"dashes_0"' id2='"dashes_" + lastpub'
      offset1=1 offset2=0 %}
    </div>
    
  </div>
</article>
