---
title: publications
layout: page
keywords: ["performance philosophy", "odot / open sound control",
"polytemporality"]
---

<article class="publications">
  <div class="wrapper">
    <!-- <div class="keywords" id="keywords"> -->
    <!--   <script> -->
    <!-- 	var lastkw = -1; -->
    <!--   </script> -->
    <!--   {% for k in page.keywords %} -->
    <!--   <script> -->
    <!-- 	lastkw++; -->
    <!--   </script> -->
    <!--   <span id="kw_dashes_{{ forloop.index0 }}"> -->
    <!-- 	{{ k }} -->
    <!-- 	{% include random_spacer.html spacer='"&mdash;"' min=1 max=10 %} -->
    <!--   </span> -->
    <!--   {% include random_spacer.html spacer='"<br>"' min=1 max=5 %} -->
    <!--   {% endfor %} -->
    <!--   <script type="text/javascript"> -->
    <!--   	{ -->
    <!--   	    var bcr0 = document.getElementById("kw_dashes_0").getBoundingClientRect(); -->
    <!--   	    var bcrM = document.getElementById("kw_dashes_" + lastkw).getBoundingClientRect(); -->
    <!-- 	    var bcrKW = document.getElementById("keywords").getBoundingClientRect(); -->
    <!-- 	    console.log(bcrKW); -->
    <!--   	    var height = bcrM.top - bcr0.top; -->
    <!--   	    document.write("<div style=\"border-right: 1px solid black; " -->
    <!--   			   + "position: absolute; top: " -->
    <!--   			   + (bcr0.top + 9) -->
    <!--   			   + "px; height: " -->
    <!--   			   + (height + 0) -->
    <!--   			   + "px; width: " -->
    <!-- 			   + bcrKW.width -->
    <!-- 			   + "px; margin-right: " -->
    <!-- 			   + 0 -->
    <!-- 			   + "px;\"></div>"); -->
    <!--   	} -->
    <!-- 	</script> -->
    <!-- </div> -->
    <div class="content" id="content">
      {% include random_spacer.html spacer='"<br>"' min=5 max=20 %}
      {% for p in site.publications reversed %}
      {% include publication.html p=p %}
      {% endfor %}
      {% include connect.html offset1=1 offset2=0 %}
    </div>
    
  </div>
</article>
