<script type="text/javascript">
  function random_spacer(spacer, min, max)
  {
      var r = Math.floor(Math.random() * (max - min) + min);
      var s = "";
      for(var i = 0; i < r; i++){
	  s += spacer;
      }
      document.write(s);
  }

  function connect(id1, id2, offset1, offset2)
  {
      var bcr0 = document.getElementById(id1).getBoundingClientRect();
      var bcrM = document.getElementById(id2).getBoundingClientRect();
      var height = bcrM.top - bcr0.top;
      document.write("<div style=\"border-left: 1px solid black; "
		     + "position: absolute; top: "
		     + (bcr0.top + 8 + offset1)
		     + "px; height: "
		     + (height + offset2)
		     + "px;\"></div>");
  }

  function shuffle(array)
  {
      var i = array.length;
      var tmp = 0;
      var r = 0;

      while (0 !== i) {
	  r = Math.floor(Math.random() * i);
	  i -= 1;

	  tmp = array[i];
	  array[i] = array[r];
	  array[r] = tmp;
      }
      return array;
  }

  function messup(txt, min, max, dummy1, dummy2)
  {
      var newtxt = "";
      var entity = false;
      for(var i = 0; i < txt.length; i++){
	  var char = txt.charAt(i); 
	  newtxt += char;
	  if(char == "&"){
	      entity = true;
	  }else if(char == ";" && entity == true){
	      entity = false;
	  }
	  if(entity == false){
	      for(var j = 0; j < Math.floor(Math.random() * (max - min) + min); j++){
		  newtxt += "&mdash;";
	      }
	  }
      }
      return newtxt;
  }

  function messup2(txt, min, max, minw, maxw)
  {
      var r = Math.floor(Math.random() * (maxw - minw) + minw);
      var n = txt.split(" ").length - 1;
      var rs = new Array(r);
      for(var i = 0; i < r; i++){
	  rs[i] = Math.floor(Math.random() * n);
      }
      var j = 0;
      var k = 0;
      var newtxt = "";
      for(var i = 0; i < txt.length; i++){
	  if(k < r && j == rs[k]){
	      while(i < txt.length && txt.charAt(i) != " "){
		  newtxt += txt.charAt(i);
		  for(var l = 0; l < Math.floor(Math.random() * (max - min) + min); l++){
		      newtxt += "&mdash;";
		  }
		  i++;
	      }
	      k++;
	  }else{
	      newtxt += txt.charAt(i);
	  }
	  if(txt.charAt(i) == " "){
	      j++;
	  }
      }
      return newtxt;
  }

  function nomessup(txt)
  {
      return txt;
  }
  
</script>
