{% if include.min-leading-vspace %}
{% assign min-leading-vspace = include.min-leading-vspace %}
{% else %}
{% assign min-leading-vspace = site.min-leading-vspace %}
{% endif %}

{% if include.max-leading-vspace %}
{% assign max-leading-vspace = include.max-leading-vspace %}
{% else %}
{% assign max-leading-vspace = site.max-leading-vspace %}
{% endif %}

{% if include.min-vspace %}
{% assign min-vspace = include.min-vspace %}
{% else %}
{% assign min-vspace = site.min-vspace %}
{% endif %}

{% if include.max-vspace %}
{% assign max-vspace = include.max-vspace %}
{% else %}
{% assign max-vspace = site.max-vspace %}
{% endif %}

{% if include.min-leading-dashes %}
{% assign min-leading-dashes = include.min-leading-dashes %}
{% else %}
{% assign min-leading-dashes = site.min-leading-dashes %}
{% endif %}

{% if include.max-leading-dashes %}
{% assign max-leading-dashes = include.max-leading-dashes %}
{% else %}
{% assign max-leading-dashes = site.max-leading-dashes %}
{% endif %}

{% if include.min-dashes %}
{% assign min-dashes = include.min-dashes %}
{% else %}
{% assign min-dashes = site.min-dashes %}
{% endif %}

{% if include.max-dashes %}
{% assign max-dashes = include.max-dashes %}
{% else %}
{% assign max-dashes = site.max-dashes %}
{% endif %}

{% if include.min-nwords %}
{% assign min-nwords = include.min-nwords %}
{% else %}
{% assign min-nwords = site.min-nwords %}
{% endif %}

{% if include.max-nwords %}
{% assign max-nwords = include.max-nwords %}
{% else %}
{% assign max-nwords = site.max-nwords %}
{% endif %}

{% if include.id %}
{% assign id = include.id %}
{% else %}
{% assign id = "dashes_" %}
{% endif %}

{% assign ctr = ctr | plus: 1 %}
<div class={{ include.wrapper }}>
  <div class="dashes">
    <span id="{{ id }}{{ ctr }}">
      {%- include random_spacer.html spacer='"&mdash;"'
      min=min-leading-dashes max=max-leading-dashes -%}
    </span>
  </div><div class="txt" style="max-width: {{ include.width }}">
    {% if include.url %}
    <a href="{{ include.url | escape }}">
    {% endif %}
    <script type="text/javascript">
      document.write({{ include.fn }}('{{ include.txt }}',
				      {{ min-dashes }},
				      {{ max-dashes }},
				      {{ min-nwords }},
				      {{ max-nwords }}));
    </script>
    {% if include.url %}
    </a>
    {% endif %}
  </div>  
</div>
