body {
    width: 100%;
    font-family: "Courier New", monospace;
    //font-family: monospace;

    .textbox {
	display: table-row;
	.dashes {
	    display: table-cell;
	}

	.txt {
	    display: table-cell;
	    border-left: 1px solid black;
	    border-top: 1px solid black;
	}
    }

    .linktext {
	display: table-row;
	.dashes {
	    display: table-cell;
	}

	.txt {
	    display: table-cell;
	    // border-left: 1px solid black;
	    // border-bottom: 1px solid black;
	    // border-top: 1px solid black;
	}
    }
}

a:link {
    text-decoration: inherit;
    color: inherit;
}
a:visited {
    text-decoration: inherit;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
