.publications {
    .wrapper {
	.content {
	    // float: left;
	    // max-width: 70%;
	    margin-right: 275px;
	    
	}

	.keywords {
	    float: right;
	    width: 500px;
	    text-align: right;
	}
    }
}

.citation {
    
    display: table-row;

    .dashes {
	display: table-cell;
    }

    .entry {
	display: table-cell;
    }
    
    .authors {

    }

    .title {
	font-weight: bold;
    }

    .publication {
	font-style: italic;
    }

    .volume {

    }

    .year {

    }

    .doi {
    }
}
